* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
} 

:root {
  --form-margin: 3em;
}

html {
  background: #f3f3f3;
}

p {
  margin: 0;
}

/* made up of form-label and form-input */
.input-area-div {
  display: flex;
  margin-bottom: 1em;
}

/* part of input-div */
.form-label {
  flex: 1 1 0;
  align-self: center;
}



.form-input {
  /* this adjusts the very small spacing difference between selects and text inputs */
  padding-left: calc(.75em + 6px);
}

h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 1.5em;
  font-weight: 400;
}

.submit-button {
  background-color: #4d7cfe;
  border: none;
  border-radius: .5em;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  border: 3px solid blue;
  padding-top: calc(1em - 3px);
  padding-bottom: calc(1em - 3px);
}

.submit-button:active {
  position: relative;
  top: 1px;
}

.form-area-div p {
  color: #4d7cfe;
  margin-left: var(--form-margin);
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 500;
}

li {
  list-style: none;
  border-radius: 10px;
  width: 500px;
  padding: 1em 1em 2em 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  background-color: #adc3ff;
  display: flex;
  flex-direction: column;
}

li:first-child {
  color: white;
  background-color: #4d7cfe;
  fill: white;
}

.close-button {
  align-self: flex-end;
}

.close-button:active {
  position: relative;
  top: 1px;
}

.close-button:hover {
  cursor: pointer;
}

.wire-title {
  font-weight: 500;
  font-size: 1.25rem;
}

/* BELOW IS FOR LARGE SCREENS */
@media screen and (min-width: 1200px){
  .form-area-div {
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .results-area {
    position: absolute;
    right: 0;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .results-header {
    margin-top: 5em;
    align-self: center;
  }

  .form-area {
    border-radius: 10px;
    padding: 2em;
    width: 40vw;
    background: white;
    margin: var(--form-margin);
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  /* part of input-div */
.form-input, .form-select {
  flex: 1.15 1 0;
  padding: .75em;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
}
}

/* ======================================================= */
/* BELOW IS FOR SMALL SCREENS */
/* ======================================================= */

@media screen and (max-width: 1200px){
  /* html {
    background: #ff0000;
  } */

  .form-area-div {
    display: flex;
    flex-direction: column;
  }
  
  .form-area {
      align-items: center;
      border-radius: 10px;
      padding: 2em;
      /* width: 100vw; */
      background: white;
      /* margin: var(--form-margin); */
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
    }
  .results-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
  .results-header {
    margin-top: 5em;
    align-self: center;
  }

  
  /* part of input-div */
  .form-input, .form-select {
    flex: 1.5 auto 0;
    padding: .75em;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
  }
}