.body {
  background: rgb(255, 145, 0);
}

.form-area {
  border-radius: 10px;
  padding: 1em;
  position: fixed;
  width: 555px;
  background: #979797;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

/* made up of form-label and form-input */
.input-div {
  display: flex;
  margin-bottom: 1em;
}

/* part of input-div */
.form-label {
  width: 15em;
}

/* part of input-div */
.form-input {
  flex-grow: 1;
}

legend {
  text-align: center;
}

.submit-button {
  flex-grow: 1;
}
